
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@Html.ActionLink("Yeni Kullanıcı Oluştur", "UyeEkle", "Home", new { @class = "btn btn-primary"}) <hr />

@Html.ActionLink("Aidat Ekle", "SubscriptionAdd", "Home", new { @class = "btn btn-primary" }) <hr />

@Html.ActionLink("Yıl Ekle", "YearAdd", "Home", new { @class = "btn btn-primary"}) <hr />
