
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="inner cover">

    <h2 class="cover-heading">Eyüp Çittir(Genel Müdür)</h2>
    <p class="lead">Kendisi şuan aktif olarak Ağrı Eleşkirt ilçesinde İlkögretim Matematik Öğretmeni olarak çalışmaktadır.Genel Müdürlük görevini 3 yıldır başarılı bir şekilde yürütmektedir.Kendisini tebrik ederiz.. <img src="http://2.bp.blogspot.com/-8_8YSQA4Zrc/TkkhDY7xKRI/AAAAAAAAAB0/NgIzH8upQhA/s1600/bravo%255B1%255D.gif" /> </p>
 
    <h2 class="cover-heading">Sinan Çittır(Genel Müdür Yardımcısı)</h2>
    <p class="lead">Kendisi şuan aktif olarak Ziraat Mühendisi görevini en güzel şekilde ifa etmektedir.Genel Müdür Yardımcılığı görevini 1,5 yıldır başarılı bir şekilde yürütmektedir.Kendisine teşekkür ederiz...</p>

    <!--<h2 class="cover-heading">Mesut Çittir(Üye)</h2>
    <p class="lead">Kendisi şuan aktif olarak Bilgisayar Mühendisidir.Aktif olarak herhangi bir yerde çalışmamaktadır. Şirket kurulduğu tarihten itibaren bu kuruluşun içinde bulunmaktadır.</p>

    <h2 class="cover-heading">Engin Kargı(Üye)</h2>
    <p class="lead">Kendisi şuan aktif olarak Ziraat Mühendisidir.Aktif olarak herhangi bir yerde çalışmamaktadır. Şirket kurulduğu tarihten itibaren bu kuruluşun içinde bulunmaktadır.</p>
    
    <h2 class="cover-heading">Sinan Çıtır(Üye)</h2>
    <p class="lead">Kendisi şuan aktif olarak İstanbulda özel bir firmada Yönetici Asistanı olarak çalışmaktadır. Şirket kurulduğu tarihten itibaren bu kuruluşun içinde bulunmaktadır.</p>-->
    <p class="lead">
        @Html.ActionLink("Esmes'in Yapıtaşları", "Hakkimizda", "Home", new { @class = "btn btn-lg btn-primary" })
        <!--<a href="#" class="btn btn-lg btn-default">Esmes'in Yapıtaşları</a>-->
    </p>
</div>

